pre[class^="language-"],
pre[class*=" language-"] {
  padding: 15px 10px 15px 10px;
  overflow: auto;
  font-size: 0.8em;
}

.blog-image {
  height: auto;
}




.blog-image {
  width: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog-image-wide {
  width: var(--width);
}


// // Mobile
// @media only screen and (max-width: 1024px) {
//
//   pre[class^="language-"],
//   pre[class*=" language-"] {
//     padding: 15px 10px 15px 10px;
//     max-width: 80rem;
//   }
//
//   .blog-image-wide {
//     width: $mobile-width;
//   }
//
//   .blog-image {
//     width: $mobile-width;
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//   }
//
// }
