.game-box {
  display: flex;
}

.game-icon {
  float: left;
}

.game-box-right {
  display: flex;
  flex-direction: column;
}

.game-title {
  font-weight: 500;
}

.game-description {
  font-weight: 300;
  display: flex;
  flex: 1;
  align-items: center;
}

.store-icons {
  display: flex;
  flex-wrap: wrap;
}


.game-box {
  width: var(--width) / 1.5;
  height: 10rem;
  margin-bottom: 2rem;
}


.game-icon {
  width: 10rem;
  height: 10rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.game-title {
  font-size: 1.2em;
}

.store-icon {
  display: flex;
  height: 2.2rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}



