#screenshots {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  overflow: auto;
}


.game-page-icon {
  float: right;
}

.screenshot {
  margin-right: 1rem;
  width: 14rem;
}

.store-icon-big {
  cursor: pointer;
  margin-right: 0.2rem;
  height: 2.4rem;
}

.game-page-icon {
  width: 10rem;
  height: 10rem;
  margin-left: 1.5rem;
  border-radius: 1rem;
}
