$background-color-light: #FDF6E3;
$background-color-dark: #002b36;

$link-color-light: #bb000080;
$link-color-dark: #53f5c480;

$font-color-light: $background-color-dark;
$font-color-dark: $background-color-light;

:root {
  --desktop-width: 42rem;
  --mobile-width: 24rem;
}


// Desktop
@media only screen and (min-width: 1024px) {
  :root {
    --width: var(--desktop-width);
    --font-size: var(--desktop-font-size);
  }
  p {
    line-height: 1.4;
  }

}

// Mobile
@media only screen and (max-width: 1024px) {
  :root {
    --width: var(--mobile-width);
    --font-size: var(--mobile-font-size);
  }
}

// for all
@import 'base';
@import 'font';
@import 'fade-in';
@import 'link';
@import 'navbar';
@import 'footer';

// specific sites
@import 'index';
@import 'blog';
@import 'game';
@import 'game-box';
@import 'progress';
